[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x"]

[phases.install]
# Use npm install instead of npm ci to handle cases where package-lock.json might not be present
cmds = ["npm install --legacy-peer-deps"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

